# General Config

---------------------------------
# Location of Media Share
# These env variables should point to the mount of your SMB/NFS share thats hosts your data

# Path to where your TV Shows should be stored
TV_SHOW_PATH = "/mnt/SMB-share/TV Shows"

# Path to where Sabnzbd will store the downloaded files for Sonarr to pick up
DOWNLOAD_PATH = "/mnt/SMB-Share/Downloads"

# Path to where Sabnzbd will store temp download files
TEMP_DOWNLOAD_PATH  = "/mnt/SMB-Share/Usenet/temp"

# (Optional) Path to where Sabnzbd should monitor for .nzb files (ex: manually queued downloads)
NZB_WATCH_PATH = "/mnt/SMB-Share/Usenet/nzb"

# URL that Swag should fetch cert for (will get a wildcard cert)
DOMAIN = "123.ca"

